In [2]:
import pandas as pd
import folium
from folium.plugins import MarkerCluster
map = folium.Map(location=[40.693943, -73.985880], default_zoom_start=15)

ModuleNotFoundError: No module named 'pandas'

In [145]:
folium.Marker(
    location=[40.693943, -73.985880],
    popup='Welcome to <b>NEW YORK CITY</b>',
    tooltip = "Click for more"
).add_to(map)
map

In [146]:
import os
os.getcwd()

'/Users/baidiwang/data-journalism/coronavirus-notebook'

In [147]:
testzipcode = pd.read_csv('/Users/baidiwang/data-journalism/coronavirus-notebook/data/testzipcode.csv')
testzipcode

     Zip Code  Positive
0       10001       191
1       10002       456
2       10003       253
3       10004        21
4       10005        36
..        ...       ...
172     11691       941
173     11692       246
174     11693       167
175     11694       302
176     11697        52

[177 rows x 2 columns]

In [148]:
testzipcode.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Zip Code  177 non-null    int64
 1   Positive  177 non-null    int64
dtypes: int64(2)
memory usage: 2.9 KB

In [150]:
map.choropleth(geo_data="https://raw.githubusercontent.com/fedhere/PUI2015_EC/master/mam1612_EC/nyc-zip-code-tabulation-areas-polygons.geojson",
             data=testzipcode,
             columns=['Zip Code', 'Positive'],
             key_on='feature.properties.postalCode',
             fill_color='BuPu', fill_opacity=0.7, line_opacity=0.3,
             legend_name='Positive Cases')

In [176]:
hospitals = pd.read_csv('/Users/baidiwang/data-journalism/coronavirus-notebook/data/hospitals.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 3, saw 2

In [179]:
merged = pd.merge(testzipcode, hospitals, on="Zip Code")

NameError: name 'hospitals' is not defined

In [154]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63 entries, 0 to 62
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Zip Code       63 non-null     int64
 1   Positive       63 non-null     int64
 2   Hospital Name  63 non-null     object
 3   Address        63 non-null     object
 4   City/Town      63 non-null     object
 5   County         63 non-null     object
 6   Latitude       63 non-null     float64
 7   Longitude      63 non-null     float64
dtypes: float64(2), int64(2), object(4)
memory usage: 4.4+ KB

In [182]:
merged.head()

,Zip Code,Positive,Hospital Name,Address,City/Town,County,Latitude,Longitude
0,10003,253,Cabrini Medical Center,227 East 19th Street,Manhattan,New York,40.735899,-73.983551
1,10003,253,Hospital for Joint Diseases Orthopaedic Institute,301 East 17th Street,Manhattan,New York,40.734411,-73.983549
2,10003,253,New York Eye and Ear Infirmary,310 East 14th Street,Manhattan,New York,40.731985,-73.984483
3,10011,329,Saint Vincents Hospital,170 West 12th Street,Manhattan,New York,40.736757,-73.999416
4,10016,389,Bellevue Hospital Center,462 First Avenue,Manhattan,New York,40.739540,-73.976333

In [181]:
marker_cluster = MarkerCluster().add_to(map)

In [183]:
for i in range(merged.shape[0]):
    location = [merged['LAT'][i],merged['LNG'][i]]
    tooltip = "Zip Code:{}<br> City/Town: {}<br> Click for more".format(merged["ZIP"][i],merged['City/Town'][i])

KeyError: 'LAT'

In [40]:
import pandas as pd

In [41]:
hospitals_read = pd.read_csv('../data/NYCHospitals.csv')
hospitals_read

,Hospital Name,Address,City/Town,Zip Code,County
0,Bronx_Lebanon Hospital Center,1650 Grand Concourse,Bronx,10457.0,Bronx
1,Bronx Children's Psychiatric Center,1000 Waters Place,Bronx,10461.0,Bronx
2,Bronx Psychiatric Center,1500 Waters Place,Bronx,10461.0,Bronx
3,Calvary Hospital,1740 Eastchester Road,Bronx,10461.0,Bronx
4,Jacobi Medical Center,Pelham Parkway South and Eastchester Road,Bronx,10461.0,Bronx
...,...,...,...,...,...
63,St. John's Episcopal Hospital_ South Shore,327 Beach 19th Street,Far Rockaway,11691.0,Queens
64,South Beach Psychiatric Center,777 Seaview Avenue,Staten Island,10305.0,Richmond
65,Staten Island University Hospital_Concord,1050 Targee Street,Staten Island,10304.0,Richmond
66,"St, Vincent's Campus",see St. Vincent's Catholic Medical Center_ Sta...,Staten Island,NaN,Richmond
67,"St, Vincent's Catholic Medical Center_Staten I...",355 Bard Avenue,Staten Island,10310.0,Richmond

In [42]:
testzipcode_read = pd.read_csv('../data/testzipcode.csv')
testzipcode_read

     Zip Code  Positive
0       10001       191
1       10002       456
2       10003       253
3       10004        21
4       10005        36
..        ...       ...
172     11691       941
173     11692       246
174     11693       167
175     11694       302
176     11697        52

[177 rows x 2 columns]

In [43]:
df = pd.DataFrame(hospitals_read)
df

,Hospital Name,Address,City/Town,Zip Code,County
0,Bronx_Lebanon Hospital Center,1650 Grand Concourse,Bronx,10457.0,Bronx
1,Bronx Children's Psychiatric Center,1000 Waters Place,Bronx,10461.0,Bronx
2,Bronx Psychiatric Center,1500 Waters Place,Bronx,10461.0,Bronx
3,Calvary Hospital,1740 Eastchester Road,Bronx,10461.0,Bronx
4,Jacobi Medical Center,Pelham Parkway South and Eastchester Road,Bronx,10461.0,Bronx
...,...,...,...,...,...
63,St. John's Episcopal Hospital_ South Shore,327 Beach 19th Street,Far Rockaway,11691.0,Queens
64,South Beach Psychiatric Center,777 Seaview Avenue,Staten Island,10305.0,Richmond
65,Staten Island University Hospital_Concord,1050 Targee Street,Staten Island,10304.0,Richmond
66,"St, Vincent's Campus",see St. Vincent's Catholic Medical Center_ Sta...,Staten Island,NaN,Richmond
67,"St, Vincent's Catholic Medical Center_Staten I...",355 Bard Avenue,Staten Island,10310.0,Richmond

In [44]:
df=df.rename(columns={"Zip Code": 'zipcode'})

In [45]:
df_zipcode = pd.DataFrame(testzipcode_read)
df_zipcode

     Zip Code  Positive
0       10001       191
1       10002       456
2       10003       253
3       10004        21
4       10005        36
..        ...       ...
172     11691       941
173     11692       246
174     11693       167
175     11694       302
176     11697        52

[177 rows x 2 columns]

In [46]:
df=df.dropna()

In [47]:
df.isnull().values.any()

False

In [48]:
df.isnull().sum().sum()

0

In [49]:
df

,Hospital Name,Address,City/Town,zipcode,County
0,Bronx_Lebanon Hospital Center,1650 Grand Concourse,Bronx,10457.0,Bronx
1,Bronx Children's Psychiatric Center,1000 Waters Place,Bronx,10461.0,Bronx
2,Bronx Psychiatric Center,1500 Waters Place,Bronx,10461.0,Bronx
3,Calvary Hospital,1740 Eastchester Road,Bronx,10461.0,Bronx
4,Jacobi Medical Center,Pelham Parkway South and Eastchester Road,Bronx,10461.0,Bronx
...,...,...,...,...,...
62,Saint Vincents Catholic Medical Centers of New...,88_25 153rd Street,Jamaica,11432.0,Queens
63,St. John's Episcopal Hospital_ South Shore,327 Beach 19th Street,Far Rockaway,11691.0,Queens
64,South Beach Psychiatric Center,777 Seaview Avenue,Staten Island,10305.0,Richmond
65,Staten Island University Hospital_Concord,1050 Targee Street,Staten Island,10304.0,Richmond
67,"St, Vincent's Catholic Medical Center_Staten I...",355 Bard Avenue,Staten Island,10310.0,Richmond

In [50]:
df = df.dropna(axis=0, subset=['zipcode'])
df

,Hospital Name,Address,City/Town,zipcode,County
0,Bronx_Lebanon Hospital Center,1650 Grand Concourse,Bronx,10457.0,Bronx
1,Bronx Children's Psychiatric Center,1000 Waters Place,Bronx,10461.0,Bronx
2,Bronx Psychiatric Center,1500 Waters Place,Bronx,10461.0,Bronx
3,Calvary Hospital,1740 Eastchester Road,Bronx,10461.0,Bronx
4,Jacobi Medical Center,Pelham Parkway South and Eastchester Road,Bronx,10461.0,Bronx
...,...,...,...,...,...
62,Saint Vincents Catholic Medical Centers of New...,88_25 153rd Street,Jamaica,11432.0,Queens
63,St. John's Episcopal Hospital_ South Shore,327 Beach 19th Street,Far Rockaway,11691.0,Queens
64,South Beach Psychiatric Center,777 Seaview Avenue,Staten Island,10305.0,Richmond
65,Staten Island University Hospital_Concord,1050 Targee Street,Staten Island,10304.0,Richmond
67,"St, Vincent's Catholic Medical Center_Staten I...",355 Bard Avenue,Staten Island,10310.0,Richmond

In [51]:
df.columns = df.columns.str.strip()
df

,Hospital Name,Address,City/Town,zipcode,County
0,Bronx_Lebanon Hospital Center,1650 Grand Concourse,Bronx,10457.0,Bronx
1,Bronx Children's Psychiatric Center,1000 Waters Place,Bronx,10461.0,Bronx
2,Bronx Psychiatric Center,1500 Waters Place,Bronx,10461.0,Bronx
3,Calvary Hospital,1740 Eastchester Road,Bronx,10461.0,Bronx
4,Jacobi Medical Center,Pelham Parkway South and Eastchester Road,Bronx,10461.0,Bronx
...,...,...,...,...,...
62,Saint Vincents Catholic Medical Centers of New...,88_25 153rd Street,Jamaica,11432.0,Queens
63,St. John's Episcopal Hospital_ South Shore,327 Beach 19th Street,Far Rockaway,11691.0,Queens
64,South Beach Psychiatric Center,777 Seaview Avenue,Staten Island,10305.0,Richmond
65,Staten Island University Hospital_Concord,1050 Targee Street,Staten Island,10304.0,Richmond
67,"St, Vincent's Catholic Medical Center_Staten I...",355 Bard Avenue,Staten Island,10310.0,Richmond

In [52]:
df.rename(columns={"Zip Code": 'zipcode'})

,Hospital Name,Address,City/Town,zipcode,County
0,Bronx_Lebanon Hospital Center,1650 Grand Concourse,Bronx,10457.0,Bronx
1,Bronx Children's Psychiatric Center,1000 Waters Place,Bronx,10461.0,Bronx
2,Bronx Psychiatric Center,1500 Waters Place,Bronx,10461.0,Bronx
3,Calvary Hospital,1740 Eastchester Road,Bronx,10461.0,Bronx
4,Jacobi Medical Center,Pelham Parkway South and Eastchester Road,Bronx,10461.0,Bronx
...,...,...,...,...,...
62,Saint Vincents Catholic Medical Centers of New...,88_25 153rd Street,Jamaica,11432.0,Queens
63,St. John's Episcopal Hospital_ South Shore,327 Beach 19th Street,Far Rockaway,11691.0,Queens
64,South Beach Psychiatric Center,777 Seaview Avenue,Staten Island,10305.0,Richmond
65,Staten Island University Hospital_Concord,1050 Targee Street,Staten Island,10304.0,Richmond
67,"St, Vincent's Catholic Medical Center_Staten I...",355 Bard Avenue,Staten Island,10310.0,Richmond

In [53]:
df = df[df.zipcode != '']

/Users/baidiwang/.local/share/virtualenvs/coronavirus-hospitals-zipcode-SSYinFCk/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [54]:
df['zipcode']=df['zipcode'].astype(int)

In [55]:
df.to_csv('../output/hospitals.csv', index=False)

In [39]:
df

Empty DataFrame
Columns: [Hospital Name, Address, City/Town, zipcode, County]
Index: []

In [59]:
df.isnull().sum()

Hospital Name    0
Address          0
City/Town        0
zipcode          0
County           0
dtype: int64

In [61]:
df_zipcode.isnull().sum()

Zip Code    0
Positive    0
dtype: int64

In [62]:
df_zipcode.columns = df_zipcode.columns.str.strip()

In [66]:
df_zipcode

     zipcode  Positive
0      10001       191
1      10002       456
2      10003       253
3      10004        21
4      10005        36
..       ...       ...
172    11691       941
173    11692       246
174    11693       167
175    11694       302
176    11697        52

[177 rows x 2 columns]

In [67]:
df_zipcode=df_zipcode.rename(columns={"Zip Code": 'zipcode'})
df_zipcode

     zipcode  Positive
0      10001       191
1      10002       456
2      10003       253
3      10004        21
4      10005        36
..       ...       ...
172    11691       941
173    11692       246
174    11693       167
175    11694       302
176    11697        52

[177 rows x 2 columns]

In [69]:
result = [df, df_zipcode]
merge= pd.concat(result, on='zipcode')

TypeError: concat() got an unexpected keyword argument 'on'

In [71]:
df_merge=pd.merge(df, df_zipcode, on='zipcode')

In [72]:
df_merge

,Hospital Name,Address,City/Town,zipcode,County,Positive
0,Bronx_Lebanon Hospital Center,1650 Grand Concourse,Bronx,10457,Bronx,820
1,Bronx Children's Psychiatric Center,1000 Waters Place,Bronx,10461,Bronx,837
2,Bronx Psychiatric Center,1500 Waters Place,Bronx,10461,Bronx,837
3,Calvary Hospital,1740 Eastchester Road,Bronx,10461,Bronx,837
4,Jacobi Medical Center,Pelham Parkway South and Eastchester Road,Bronx,10461,Bronx,837
...,...,...,...,...,...,...
58,Queens Hospital Center,82_68 164th Street,Jamaica,11432,Queens,710
59,Saint Vincents Catholic Medical Centers of New...,88_25 153rd Street,Jamaica,11432,Queens,710
60,South Beach Psychiatric Center,777 Seaview Avenue,Staten Island,10305,Richmond,540
61,Staten Island University Hospital_Concord,1050 Targee Street,Staten Island,10304,Richmond,634
62,"St, Vincent's Catholic Medical Center_Staten I...",355 Bard Avenue,Staten Island,10310,Richmond,294

In [73]:
df.to_csv('../output/finaldata.csv', index=False)